<section class="container">
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(@article.image_path) %>
  </p>
   
   
  <p>
    <strong>Description:</strong>
    <%= @article.description %>
  </p>
</section>